<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908108863600-af14ecj9kfi9ehgk1cf90hcsvtq0ouao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908108863600-af14ecj9kfi9ehgk1cf90hcsvtq0ouao</string>
	<key>API_KEY</key>
	<string>AIzaSyAwOk0ep_fFD2PvN7PhAec1zrxZBA8igLA</string>
	<key>GCM_SENDER_ID</key>
	<string>908108863600</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.nomeyho.dofus.items</string>
	<key>PROJECT_ID</key>
	<string>dofus-items-ce36c</string>
	<key>STORAGE_BUCKET</key>
	<string>dofus-items-ce36c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908108863600:ios:800440e09a5e28207f7cb5</string>
	<key>DATABASE_URL</key>
	<string>https://dofus-items-ce36c.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3227008925572350~1861295010</string>
</dict>
</plist>